---
import Layout from "../../layouts/Layout.astro";
import Details from "../../components/Details.astro";
import type { GetStaticPaths } from 'astro';
import { fetchAllPokemon } from '../../pokemondata/pokemons/allpokemon';
import type { PokemonBasic } from '../../pokemondata/pokemons/allpokemon';

export const getStaticPaths = (async () => {
  const pokemonData = await fetchAllPokemon(0, 60);
  const pokemons = pokemonData.results;
  
  return pokemons.map((pokemon: PokemonBasic) => ({
    params: { id: pokemon.url.split('/')[6] },
    props: { pokemon },
  }));
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const { pokemon } = Astro.props;
---

<Layout>
  <main class="container mx-auto p-4">
    <Details id={id} pokemon={pokemon} />
  </main>
</Layout>