---
// src/pages/home.astro
import Layout from "../layouts/Layout.astro";
import HomeComponent from "../components/HomeComponent.astro";
---

<Layout>
    <main>
        <HomeComponent />
    </main>
</Layout>