---
import Layout from "../layouts/Layout.astro";
import HomeComponent from "../components/HomeComponent.astro";

const currentPage = Number(Astro.url.searchParams.get('page')) || 1;
---

<Layout>
    <main>
        <HomeComponent currentPage={currentPage}/>
    </main>
</Layout>