---
import Layout from "../layouts/Layout.astro";
import HomeComponent from "../components/HomeComponent.astro";

const currentPage = 1;  // This will always be page 1
---

<Layout>
    <main>
        <HomeComponent currentPage={currentPage}/>
    </main>
</Layout>