---
import Cards from './Cards.astro';
import type { PokemonBasic } from '../pokemondata/pokemons/allpokemon';

interface Props {
    pokemons: PokemonBasic[];
}

const { pokemons } = Astro.props;
---

<div class="container mx-auto px-4"> 
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 sm:gap-8 md:gap-10 py-6">
        {pokemons.map((pokemon) => (
            <Cards pokemon={pokemon} />
        ))}
    </div>
</div>