---
import pokemon from "../assets/pokemon.logo.png";
---

<div>
    <div class="bg-cover w-full h-screen" style="background-image: url('https://wallpaperaccess.com/full/3062895.jpg');">
        <div class="p-10">
            <img src={pokemon.src} alt="Pokemon logo" class="mx-auto" />
        </div>
        <div class="p-10 text-center">
            <a href="/home" class="mt-4 inline-block bg-blue-500 text-white py-4 px-6 text-sm uppercase tracking-wider cursor-pointer rounded-lg flex items-center">
                <button>Home</button>
            </a>
        </div>
    </div>
</div>